@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Nunito', sans-serif;
}
h1 {
    font-family: 'Bangers', sans-serif;
    font-size:32px;
}

@layer components {
    .event-details-markdown li {
        @apply mx-4;
    }

    .event-details-markdown p {
        @apply my-1;
    }

    .event-details-markdown h1 {
        @apply text-2xl;
    }

    /* Only show separators if there is something above them: */
    .separator {
        display: none;
    }

    .event+.separator {
        display: flex;
    }
    .about pre {
        overflow-x: auto;
    }
    #menu .item {
        @apply px-2 py-1 m-2 bg-black/[.5];
        border: 1px solid white;
    }
}

/* components */
