{{ define "event"}}
<div data-date="{{ .DateString }}" data-city="{{ .City }}"
  class="event ml-4 mr-2 my-4  {{ if .Hidden }} hidden {{ end }} {{ if .IsBig }} rounded border border-white {{ end }}">
  <div class="rounded
  {{ if not .IsBig }} bg-black/[.6] ml-[1.2rem] {{ else }}
    bg-black/[.8] {{ end }}">
  
<div class="flex flex-col">
  <div class="flex-none flex flex-nowrap">
    <img src="{{ .Image }}" class="w-12 h-12 nonmini:w-20 nonmini:h-20 mr-2
      {{ if not .IsBig }} ml-[-1.2rem] rounded-l {{ else }} rounded border-white border ml-[-12px] my-[-10px] w-14 h-14 nonmini:w-20 nonmini:h-20 {{ end }}
    ">
    <div class="flex-grow mr-2 flex flex-col leading-none justify-between {{ if not .IsBig }} my-1 {{ else }} mt-2 {{ end }}">
      <div class="flex flex-row flex-nowrap justify-between"><!-- title row -->
        <h2 class="mb-1 font-bold nonmini:text-2xl">{{ .Title }}</h2>
        <div class="mb-1 nonmini:text-2xl text-right">{{ .Date.Format "Monday, 02.01" }}</div>
      </div>
      <div class="flex flex-row flex-nowrap justify-between items-baseline"><!-- location row -->
        {{ if not .IsBig}}
            <div>
              <span class="location-city">{{ .City }}&ensp;&middot;&ensp;</span><a href="{{ .URL }}" class="text-blue-300" style="white-space: nowrap">{{ .Domain }}</a>
            </div>
        {{ else }}
        <div><span class="location-city">{{ .City }}&ensp;&middot;&ensp;</span>{{ .Location }}</div>
        {{ end }}
        <div class="text-right text-sm">{{.Price}} &ensp;&middot;&ensp; {{.Hour}}</div>
      </div>
    </div>
  </div>
  {{ if .IsBig }} <!-- details row -->
    <div class="m-2 mt-1 nonmini:mt-2">
      <div class="text-ellipsis overflow-hidden">
        <a href="{{ .URL }}" class="text-blue-300" style="white-space: nowrap">{{ .ShortURL }}</a>
      </div>
    </div>
  {{ end }}
</div></div></div>

{{ if .SeparatorBelow }}
<div class="separator items-center">
  <div class="border-b-2 border-border flex-grow h-2 mx-4">

  </div>
  <div class="mx-4 font-bold text-border text-xl">
    {{ .SeparatorBelow }}
  </div>
  <div class="border-b-2 border-border flex-grow h-2 mx-4">

  </div>

</div>
{{ end }}
{{end}}



{{ define "htmlheader" }}
<!doctype html>
<html class="h-full">

<head>
  <title>Swisszouk Parties</title>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="compiled_style.css" rel="stylesheet">

  <script defer src="zoukcalendar.js"></script>
</head>

<body class="h-full">
  <div class="min-h-full bg-gradient-to-r from-gradient_left via-gradient_mid to-gradient_right text-white/[0.9]">
    

    <div class="fixed w-full z-30 pb-4 bg-black border-b border-white">
      <div class="pt-4 max-w-2xl m-auto relative z-20">
        <h1 class="ml-2 max-w-sm"><a href="index.html">
          <img src="logo.png" class="h-12 inline-block mr-2" />Parties
          </a></h1>
        <button class="absolute top-0 right-0 not-italic text-xl pt-4 pr-2"
          onclick="toggleMenu()">
          <div class=" py-2 px-4 font-bold"><span id="burger" class="text-2xl"></span>&nbsp;⚙️</div></button>
      </div>
      <div id="menu" class="max-w-2xl m-auto max-h-0 overflow-hidden flex text-2xl  justify-end relative z-20 transition-max-height duration-150">
        <div class="flex flex-row flex-wrap relative right-0 items-end inline-block mt-4  m-2">
          <button class="item" onclick="selectCity('all')">Show all cities</button>
          <button class="item" onclick="selectCity('Basel')">Basel</button>
          <button class="item" onclick="selectCity('Genève')">Genève</button>
          <button class="item" onclick="selectCity('Zürich')">Zürich</button>
          <a href="about.html" class="pointer item self-stretch text-right">About</a>
        </div>
      </div>
    </div><!-- header -->
    <div
      style="background: linear-gradient(180deg, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0.01) 40%,rgba(0, 0, 0, 0.01) 60%, rgba(0,0,0,1) 100%); height:100vh"
      class="w-full fixed z-10 mt-20">
    </div>
    <div id="content-container" class="max-w-2xl m-auto z-20 relative pb-12 pt-24">
      {{ end }}

      {{ define "htmlfooter"}}
    </div>
  </div>
</body>

</html>
{{end }}


{{ define "indexpage" }}
{{ template "htmlheader" }}
<script>
  document.getElementById('content-container').style.display = 'none';
</script>
{{ range . }}
{{ template "event" . }}
{{ end }}
{{ template "htmlfooter" }}
{{ end }}

{{ define "aboutpage" }}
{{ template "htmlheader" }}
<div class="about bg-black/[.5] rounded p-2 m-4">
  <h2 class="mb-2 text-2xl">How to add a party?</h2>
  <p>
    Please send me an email at zouk@ptak.me. Use the following template:
  </p>
  <pre class="m-2">
title: Bürklizouk
location: Bürkliplatz
date: 2022-09-23
time: 18:00
price: 0
URL: https://example.com/event
    </pre>
  <p>If you're hosting some workshops or other activities please still use the start time of the party itself.
    Interested people can always click through to your event page to learn more.</p>
  <p>Attach a square logo of your event (just the logo, not a poster).
  </p>
  <p>I check that email and update the website once per week.</p>
  <p>It would be cool if you could add a link to the calendar back to your event page, for eample:</p>
  <pre class="m-2">
For the list of other zouk events see http://parties.swisszouk.ch
</pre>
  </p>
</div>
<div class=" bg-black/[.5] rounded p-2 m-4">
  <h2 class="mb-2 text-2xl">Found an error in the page?</h2>
  <p>
    Please let me know at zouk@ptak.me, and I'll fix it.
  </p>
</div>
<div class=" bg-black/[.5] rounded p-2 m-4">
  <h2 class="mb-2 text-2xl">Zürich only?</h2>
  <p>We have to start somewhere :) </p>
  <p>Once it works for Zürich, I will expand it to other cities.</p>
</div>
<div class=" bg-black/[.3] rounded p-2 mx-4 my-12 text-sm">
  <h2 class="mb-2 text-xl">About the authors</h2>
  <p>The events are organized by multiple independent event organizers and dance schools.</p>
  <p>Website copyright: Wojtek, Daria and Claudia.</p>
</div>
{{ template "htmlfooter" }}
{{ end }}


{{ define "summarypage" }}
{{ template "htmlheader" }}

<div class="max-w-md">
  {{ range . }}
  <div class="p-4 pl-6">
    <h1 class="m-0 flex justify-between">
      <span>parties.<img src="logo.png" class="h-12 inline-block" />.ch</span>
      <span class="mr-4">{{.Month }}</span>
      </h1>
   <div class="grid grid-cols-4 justify-between my-8 gap-4 ">
    {{ range .Images }}
    <img src="{{ . }}" class="w-20 h-20 rounded border-white border ">
    {{ end }}
   </div>
  </div>
  <!-- 🔶 -->
   <pre class="my-8 mx-4 select-all">
{{ $month := .Month }}
📅 *Upcoming parties in {{$month}}*
{{- range $city, $evs := .EvsByCitySorted }}

🌍 *{{ $city }}*
{{- range $evs -}}
{{- $ev := index . 0 }}
• {{ $ev.Title }} ({{$ev.ScheduleString}})
{{- end -}}
{{- end }}

Up to date calendar: http://parties.swisszouk.ch
   </pre>
  {{ end }}
</div>
{{ template "htmlfooter" }}
{{ end }}